# Development & fuzzing dependencies (all permissive licenses).
# atheris    - Apache-2.0  (coverage-guided fuzzing engine)
# hypothesis - MPL-2.0     (property-based testing)
# coverage   - Apache-2.0  (coverage measurement)
atheris; python_version < "3.13"
hypothesis
coverage
